<a href="https://colab.research.google.com/github/BrishavDebnath/Python/blob/main/Class_30_01_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print(R"\a")

\a

In [7]:
str="Python Programming"
print(str[0])
print(str[2:10])
print(str[3:8])

P
thon Pro
hon P

In [3]:
list1=['a','bc',78,1.23]
list2=['d',78]
print(list1)
print(list1[0])
print(list1[1:3])
print(list1[2:])
print(list1*2)
print(list1+list2)

['a', 'bc', 78, 1.23]
a
['bc', 78]
[78, 1.23]
['a', 'bc', 78, 1.23, 'a', 'bc', 78, 1.23]
['a', 'bc', 78, 1.23, 'd', 78]

In [8]:
names=["sajid","nadeem","touseef","shahid","Ram"]
names.append("Ajay")
print(names)
names.insert(0,"Rama")
print(names)
names.remove("nadeem")
print(names)
print("sajid" in names)
print(names)
print(len(names))
names.clear()
print(names)

['sajid', 'nadeem', 'touseef', 'shahid', 'Ram', 'Ajay']
['Rama', 'sajid', 'nadeem', 'touseef', 'shahid', 'Ram', 'Ajay']
['Rama', 'sajid', 'touseef', 'shahid', 'Ram', 'Ajay']
True
['Rama', 'sajid', 'touseef', 'shahid', 'Ram', 'Ajay']
6
[]

In [9]:
num_list=[1,2,3,4,5,6,7]
for i in num_list:
  print(i)

1
2
3
4
5
6
7

In [13]:
names=[1,2,3,4,5,6,7,"Brishav",10.5]
for i in names:
  print(names.pop())

10.5
Brishav
7
6
5

In [14]:
tup=('a','b',78,1.23)
tup2=('b',78)
print(tup)
print(tup[0])
print(tup[1:3])
print(tup[2:])
print(tup*2)
print(tup+tup2)

('a', 'b', 78, 1.23)
a
('b', 78)
(78, 1.23)
('a', 'b', 78, 1.23, 'a', 'b', 78, 1.23)
('a', 'b', 78, 1.23, 'b', 78)

In [ ]:
#write a program to iterate two s strings.
#Write a Program to print the tables starting from 2 to 11
#write a program to move through a list

In [16]:
#1
str1=input("Enter first String:")
str2=input("Enter second string:")
l1=len(str1)
l2=len(str2)
for i in range(0,l1):
  print(str1[i])
print("\n")
for i in range(0,l2):
  print(str2[i])

Enter first String:Brishav Debnath
Enter second string:Python is cool
B
r
i
s
h
a
v

D
e
b
n
a
t
h


P
y
t
h
o
n

i
s

c
o
o
l

In [19]:
#2
for i in range(2,12):
 print("Multiplication table of ",i)
 for j in range(1,11):
  print(str(i)+"X"+str(j)+"="+str(i*j))
 print("\n")

Multiplication table of  2

TypeError: 'str' object is not callable

In [5]:
#3
n=int(input("Enter number of items in your list:\n"))
my_list=[]
for i in range(0,n):
  my_list.append(input("Enter"+"list"+"["+str(i)+"]"+":"))
print("Your list is:\n ")
print(my_list)

Enter number of items in your list:
5
Enterlist[0]:77
Enterlist[1]:87
Enterlist[2]:Brishav
Enterlist[3]:Hello
Enterlist[4]:99
Your list is:

['77', '87', 'Brishav', 'Hello', '99']