<a href="https://colab.research.google.com/github/BrishavDebnath/Python/blob/main/Class_31_01_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
str1="Hello-World"
list_1=[i for i in str1] #important(list comprehension)
print(list_1)

['H', 'e', 'l', 'l', 'o', '-', 'W', 'o', 'r', 'l', 'd']

In [7]:
# Adding even numbers from a range to a list
list_2=[]
for i in range(0,41):
  if i%2==0:
    list_2.append(i)
print(list_2)
#2nd method
list_3=[i for i in range(40) if i%2==0] #important
print(list_3)
list_4=[i**3 for i in range (10)] #important
print(list_4)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [10]:
#String example
str_1="Hello "
print(id(str_1))# Prints memory address
abc=input("Enter your name:\n")
str_1+=abc+".Welcome to Python Programming!"
print(str_1)
print(id(str_1))

Enter your name:
Brishav
Hello Brishav.Welcome to Python Programming!

In [12]:
#Sets(Duplicate entries not allowed)
#Dictionary example
Dict={'Roll_No':"16/001","Name":"Brishav","Course":"BTech"}
print("Dict[ROLL_NO]=",Dict["Roll_No"])
print("Dict[NAME]",Dict["Name"])
print("Dict[COURSE]",Dict["Course"])

Dict[ROLL_NO]= 16/001
Dict[NAME] Brishav
Dict[COURSE] BTech

In [ ]:
#Dictionary Operations
dict_1={"sap-id":500127120,
         "name":"Brishav",
         "Qual":"12th Graduate",
         "Dept":"SoCS"}
print(dict_1)
print(dict_1['sap-id']) #value of key will be printed
print(dict_1['Qual'])
dict_1["Experience"]="No Prior Experience."
print(dict_1)
#modification
dict_1["Dept"]="SoTC"
print(dict_1)

In [ ]:
#1. Write a program to append the numbers in a list and after that print whether the numbers are even or odd.
#2. Extract letters from a strings. The string is "Welcome to the world of python" and put them in a list.
#3. Write a program to create a tuple and add 10 values to it and print all those values using a for loop.

In [16]:
#1. Write a program to append the numbers in a list and after that print whether the numbers are even or odd.
list_1=[i for i in range(1,21)]
print(list_1)
for i in range(0,20):
  if list_1[i]%2==0:
    print("list_1["+str(i)+"]"+"is even and is :",list_1[i])
  else:
    print("list_1["+str(i)+"]"+"is odd and is :",list_1[i])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
list_1[0]is odd and is : 1
list_1[1]is even and is : 2
list_1[2]is odd and is : 3
list_1[3]is even and is : 4
list_1[4]is odd and is : 5
list_1[5]is even and is : 6
list_1[6]is odd and is : 7
list_1[7]is even and is : 8
list_1[8]is odd and is : 9
list_1[9]is even and is : 10
list_1[10]is odd and is : 11
list_1[11]is even and is : 12
list_1[12]is odd and is : 13
list_1[13]is even and is : 14
list_1[14]is odd and is : 15
list_1[15]is even and is : 16
list_1[16]is odd and is : 17
list_1[17]is even and is : 18
list_1[18]is odd and is : 19
list_1[19]is even and is : 20

In [17]:
#2. Extract letters from a strings. The string is "Welcome to the world of python" and put them in a list.
str_2="Welcome to the World of Python!"
list_3=[i for i in str_2]
print(list_3)

['W', 'e', 'l', 'c', 'o', 'm', 'e', ' ', 't', 'o', ' ', 't', 'h', 'e', ' ', 'W', 'o', 'r', 'l', 'd', ' ', 'o', 'f', ' ', 'P', 'y', 't', 'h', 'o', 'n', '!']

In [19]:
#3. Write a program to create a tuple and add 10 values to it and print all those values using a for loop.
tuple_1 = (22, 33, 44, "Brishav", "Ninety", 67, 12, "Hello", 66, "World")
for i in range(0, 10):
  print(tuple_1[i])

22
33
44
Brishav
Ninety
67
12
Hello
66
World