<a href="https://colab.research.google.com/github/BrishavDebnath/Python/blob/main/Class_27-01-24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("abc\bdef")

abcdef

In [ ]:
print("Example of using the \x41 escape sequence.")

Example of using the A escape sequence.

In [ ]:
num=int(input("Enter a Number:\n"))
if num==0:
  print("0 is not considered a prime number!")
if num<0:
  print(str(num)+"is negative. ")

In [ ]:
#Write a program to generate Fibonacci series.
num=int(input("Enter a Number:\n"))
sum=0
a=0
b=1
print("Fibonacci Series:")
print(a)
for i in range(1,num+1):
  print(b)
  sum=a+b
  a=b
  b=sum

Enter a Number:
7
Fibonacci Series:
0
1
1
2
3
5
8
13

In [ ]:
#Write a python program to display the multiplication table.(Use input function and for loop)
#Write a program program to check armstrong number.
#Write a program to find armstrong number in an interval.

In [ ]:
#Write a python program to display the multiplication table.(Use input function and for loop)
num=int(input("Enter a number:\n"))
print("Multiplication table of ",num)
for i in range(1,11):
  print(str(num)+"X"+str(i)+":"+str(num*i))
  int(num)
  int(i)

Enter a number:
7
Multiplication table of  7
7X1:7
7X2:14
7X3:21
7X4:28
7X5:35
7X6:42
7X7:49
7X8:56
7X9:63
7X10:70

In [10]:
#Write a program to check whether a given number is a armstrong number or not.
num1=input("Enter a number:\n")
n=len(num1)
r=0
sum=0
num1=int(num1)
number=num1
while (number != 0):
  r=number%10
  sum=sum+r**n
  number=number//10
if num1==sum:
  print(num1,"is an Armstrong number.")
else:
  print(num1,"is not an Armstrong number.")

Enter a number:
151
151 is not an Armstrong number.

In [12]:
num=input("Enter a number:")
n=len(num)
print(n)
print(type(n))

Enter a number:153
3
<class 'int'>

In [26]:
#Write a Program to find Armstrong number in an interval.
num2=int(input("Enter the first number of the interval:\n"))
num3=int(input("Enter the last number of the interval:\n"))
print("Armstrong Numbers in the given Interval are:\n")
for i in range(num2,num3+1):
  sum1=0
  r1=0
  i=str(i)
  n1=len(i)
  i=int(i)
  temp=i
  while(temp>0):
    r1=temp%10
    sum1=sum1+r1**n1
    temp//=10
  if sum1 == i:
    print(i," is a Armstrong Number.")

Enter the first number of the interval:
100
Enter the last number of the interval:
2000
Armstrong Numbers in the given Interval are:

153  is a Armstrong Number.
370  is a Armstrong Number.
371  is a Armstrong Number.
407  is a Armstrong Number.
1634  is a Armstrong Number.